@import "./graph/";
@import "./connection/";
@import "./styles/inputs";

@mixin light {
    --col-text: #363434;
    --col-title: #444444;

    --col-main-bg: #ffffff;
    --col-titlebar-bg: #ffffff;

    --col-divider: #cccccc;

    --col-error-text: #ffffff;
    --col-error-bg: #e02929;

    @include col-GraphSVG-light();
    @include col-inputs-light();
}

@mixin dark {
    --col-text: #ffffff;
    --col-title: #eeeeee;

    --col-main-bg: #414141;
    --col-titlebar-bg: #3c3c3c;

    --col-hovmod-bg: #ffffff22;

    --col-divider: #4e4e4e;

    --col-error-text: #ffffff;
    --col-error-bg: #f54c4c;

    @include col-GraphSVG-dark();
    @include col-inputs-dark();
}

body.theme-light {
    @include light();
}

body.theme-dark {
    @include dark();
}
