$_F0: var(--_F0);
$_F0_T: var(--_F0_T);
$_F1: var(--_F1);
$_F2: var(--_F2);

$_B0: var(--_B0);
$_B1: var(--_B1);
$_B2: var(--_B2);

$_CE_F: var(--_CE_F);
$_CE_B: var(--_CE_B);


:root {
    --_F0: #000000;
    --_F0_T: #444444;
    --_F1: #636363;
    --_F2: #808080;

    --_B0: #ffffff;
    --_B1: #d8d8d8;
    --_B2: #b3b3b3;

    --_CE_F: #ffffff;
    --_CE_B: #dd5555;

    --_CL0: #ffaf37;
    --_CL1: #15b6e7;
    --_CL2: #f33cdb;
}
